﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kütüphane - Haydi Kitap Oku</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/business-casual.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("_header")
    @RenderBody()
</body>
</html>
