﻿
@{
    ViewBag.Title = "CalismaSaat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Çalışma Saatleri</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazartesi <span class="ml-auto">Sabah 08:00 Akşam 19:30</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Salı <span class="ml-auto">Sabah 08:00 Akşam 19:30</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Çarşamba <span class="ml-auto">Sabah 08:00 Akşam 19:30</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Perşembe <span class="ml-auto">Sabah 08:00 Akşam 19:30</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Cuma <span class="ml-auto">Sabah 08:00 Akşam 19:30</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex today">
                            Cumartesi <span class="ml-auto">Sabah 09:00 Akşam 17:00</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Pazar <span class="ml-auto">Kapalı</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

