﻿
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/Content/img/about.jpg" alt="">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <h1>Hesabına Giriş Yap</h1>
                            <span class="section-heading-lower">@ViewBag.Tarih</span>
                        </h2>
                        <form>
                            <fieldset>
                                <legend>Giris:</legend>
                                Kullanıcı Adı: <br> <input type="text" size="30"><br>
                                Şifre: <br> <input type="password" size="30"><br>
                                <input type="submit" value="Giris Yap">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

