﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/Content/img/intro.jpeg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Haydi bir kitap daha oku</span>
                </h2>
                <p class="mb-3">
                    Kitaplar zamanın büyük denizinde dikilmiş deniz fenerleridir.
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#">Siteyi Gez!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Sözüm</span>
                        <span class="section-heading-lower">Sana</span>
                    </h2>
                    <p class="mb-0">Kitabınızı Hemen Alıp ve Okumak için Kütüphanemize girdiğinizde, size hızlı bir hizmet, davetkar bir atmosfer ve her şeyden öte, Aradığınız her türlü kitabı bulmanıza adadık. Eğer memnun değilseniz, lütfen bize bildirin ve işleri doğru yapmak için elimizden geleni yapacağız!</p>
                </div>
            </div>
        </div>
    </div>
</section>

