﻿
@{
    ViewBag.Title = "Kitaplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="page-section cta">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <table style="width:100%">
                            <tr>
                                <th>Kitap Adı</th>
                                <th>Sayfa Sayısı</th>
                            </tr>
                            <tr>
                                <td>Suç ve Ceza</td>
                                <td>400</td>
                            </tr>
                        </table>
                    </div>
                </div>
    </section>

